apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: model-downloads

resources:
  - ../base
  - pvc.yaml

patches:
  - target:
      kind: Job
      name: download-qwen3-vl-8b
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0
        value:
          name: model-storage
          persistentVolumeClaim:
            claimName: qwen3-vl-8b-model-storage
