apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: anythingllm-storage
  namespace: {{ .Values.namespace }}
  labels:
    app: anythingllm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.size }}
{{- if .Values.storage.storageClassName }}
  storageClassName: {{ .Values.storage.storageClassName }}
{{- end }}
